.container {
  padding: 2rem 5rem;
}

.flexSecond {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  justify-content: space-between;

  & :nth-child(2) {
    flex-grow: 1;
  }
  ::before {
    font-size: large;
  }
}

.card {
  display: flex;
  gap: 5rem;
  align-items: flex-start;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 12px;

  h1 {
    color: #4f4f4f;
  }

  img {
    border-radius: 12px;
  }
}

.card__skills {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 1rem;
  background-color: #ffffff;
  border-radius: 12px;
}

.card:not(:last-child) {
  margin-bottom: 2rem;
}

.card__skillHead {
  font-size: 1.8rem;
  font-weight: bold;
  color: #4f4f4f;
  text-transform: uppercase;
}

.card__skillHeadSupplement {
  font-size: 1rem;
  color: #828282;
}

.card__skill {
  display: flex;
  flex-grow: 1;
  gap: 2rem;
  align-items: center;
  margin-top: 1rem;
}
.card__skill:first-child {
  margin-top: 2rem;
}

.card__skillName {
  width: 6rem;
  font-weight: 500;
}

.card__skillExperienced {
  color: red;
}

.card__skillGraph {
  position: relative;
  width: 15rem;
  height: 1rem;
  background-color: #c4c4c4;
}

.card__skillGraphBack {
  position: absolute;
  height: 100%;
  background-color: #2f80ed;
}

.card__hobbies {
  display: flex;
  gap: 1rem;
}
.card__hobby {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  // gap: 2rem;
  align-items: center;
  margin-top: 1rem;
}

.card__blog__table {
  margin-top: 1rem;
  text-align: left;
}

.card__blog__title {
  font-weight: 500;
  color: #333333;
}

.card__blog__link {
  &:hover {
    opacity: 0.7;
  }
}

.footer {
  padding: 2rem 0;
  text-align: center;
}

@media (max-width: 60rem) {
  // .grid {
  //   width: 100%;
  //   flex-direction: column;
  // }
}
