.container {
  padding: 2rem 5rem;
}

.flexSecond {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  justify-content: space-between;

  & :nth-child(2) {
    flex-grow: 1;
  }
}

.card {
  padding: 2rem;
  display: flex;
  gap: 50px;
  border-radius: 12px;
  background-color: #ffffff;
  align-items: flex-start;

  h1 {
    color: #4f4f4f;
  }

  img {
    border-radius: 12px;
  }
}

.card__skills {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: #ffffff;
}

.card:not(:last-child) {
  margin-bottom: 2rem;
}

.card__skillHead {
  font-size: 1.8rem;
  color: #4f4f4f;
  text-transform: uppercase;
  font-weight: bold;
}

.card__skillHeadSupplement {
  font-size: 14px;
  color: #828282;
}

.card__skill {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-grow: 1;
}
.card__skill:first-child {
  margin-top: 2rem;
}

.card__skillName {
  width: 6rem;
  font-weight: 500;
}

.card__skillExperienced {
  color: red;
}

.card__skillGraph {
  width: 15rem;
  height: 9px;
  background-color: #c4c4c4;
  position: relative;
}

.card__skillGraphBack {
  position: absolute;
  background-color: #2f80ed;
  height: 100%;
}

.footer {
  padding: 2rem 0;
  text-align: center;
}

@media (max-width: 600px) {
  // .grid {
  //   width: 100%;
  //   flex-direction: column;
  // }
}
