.container {
  padding: 2rem 5rem;
}

.flexSecond {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  justify-content: space-between;

  & :nth-child(2) {
    flex-grow: 1;
  }
  ::before {
    font-size: large;
  }
}

.card {
  display: flex;
  gap: 5rem;
  align-items: flex-start;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 12px;

  h1 {
    color: #4f4f4f;
  }

  img {
    border-radius: 12px;
  }
}

.card__profile__addresses {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #333333;
}

.card__profile__address__link {
  display: flex;
  align-items: center;
}

.card__skills {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 1rem;
  background-color: #ffffff;
  border-radius: 12px;
}

.card:not(:last-child) {
  margin-bottom: 2rem;
}

.card__skillHead {
  font-size: 1.8rem;
  font-weight: bold;
  color: #4f4f4f;
  text-transform: uppercase;
}

.card__skillHeadSupplement {
  font-size: 1rem;
  color: #828282;
}

.card__skill {
  display: flex;
  flex-grow: 1;
  gap: 2rem;
  align-items: center;
  margin-top: 1rem;
}
.card__skill:first-child {
  margin-top: 2rem;
}

.card__skillName {
  width: 6rem;
  font-weight: 500;
}

.card__skillExperienced {
  color: red;
}

.card__skillGraph {
  position: relative;
  width: 15rem;
  height: 1rem;
  background-color: #c4c4c4;
}

.card__skillGraphBack {
  position: absolute;
  height: 100%;
  background-color: #2f80ed;
}

.card__hobbies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.card__hobby {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  margin-top: 1rem;
}

.card__blog__table {
  margin-top: 1rem;
  text-align: left;
}

.card__blog__title {
  font-weight: 500;
  color: #333333;
}

.card__blog__link {
  &:hover {
    opacity: 0.7;
  }
}

.buttons__technology {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.button__technology {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1.2rem;
  &:hover {
    color: #ffffff;
    cursor: pointer;
    background-color: #2f80ed;
    transition: 0.5s;
  }
}

.card__portfolios {
  display: grid;
  grid-template-columns: repeat(5, 20rem);
  gap: 1rem;
  overflow-x: scroll;
}

.card__portfolio {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1);
}

.card__portfolio__links {
  display: flex;
  margin-top: 0.5rem;
}

.card__portfolio__button {
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #2f80ed;
  border: none;
  border-radius: 0.5rem;
  &:not(:last-child) {
    margin-right: 0.5rem;
  }
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.footer {
  padding: 2rem 0;
  text-align: center;
}

@media (max-width: 60rem) {
  .flexSecond {
    flex-direction: column;
  }
  .card {
    flex-direction: column;
  }
  .card__hobbies {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
